# ------------------------------------------------------------
# api.arqui.ljg.cl
# ------------------------------------------------------------

# Load balancing
upstream backend_api {
    server rest-api-0:8000;
}

server {
    listen 80;
    server_name api.arqui.ljg.cl;

    include /etc/nginx/templates/include/https-redirect.conf;
}

server {
    listen 443 ssl;
    server_name api.arqui.ljg.cl;

    include /etc/nginx/templates/include/wildcard-ssl.conf;

    location / {
        proxy_pass http://backend_api;
        include /etc/nginx/templates/include/proxy.conf;
    }
}
