# ------------------------------------------------------------
# api.arqui.ljg.cl
# ------------------------------------------------------------

# Load balancing
upstream backend_mqtt {
    server mqtt:64564;
}

server {
    listen 80;
    server_name mqtt.arqui.ljg.cl;

    include /etc/nginx/templates/include/https-redirect.conf;
}

server {
    listen 443 ssl;
    server_name mqtt.arqui.ljg.cl;

    include /etc/nginx/templates/include/wildcard-ssl.conf;

    location / {
        proxy_pass http://backend_mqtt;
        include /etc/nginx/templates/include/proxy.conf;
    }
}
