##### Proyecto
## Constantes (No tocar)
GROUP_NUMBER=19
## Variables
NODE_ENV=development

# ------------------------------

##### API
## Constantes (No tocar)
DB_HOST=db
## Vairables
DB_NAME=backend
DB_PORT=15432
LOCAL_PORT=64563
DB_DIALECT=postgres
API_PROTOCOL=http
## Credenciales
DB_USERNAME=
DB_PASSWORD=

# ------------------------------

##### MQTT
## Constantes (No tocar)
CHANNEL=stocks/info
VALIDATIONS_CHANNEL=stocks/validation
REQUESTS_CHANNEL=stocks/requests
API_HOST=api
## Variables
LISTENER_PORT=64564
## Credenciales
PORT=9000
HOST=broker.legit.capital
USERNAME=
PASSWORD=
