API_PORT=64563
DB_DIALECT=postgres
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=localhost
DB_PORT=5432
GROUP_NUMBER=19
MOCK_USER_UUID=7459cf2b-2d9f-48a2-99a3-0a3958fc9931

MQTT_PROTOCOL=http
MQTT_API_HOST=localhost
MQTT_API_PORT=64564
MQTT_API_REQUESTS_PATH=requests
WORKERS_API_JOB_URL=

IP_INFO_TOKEN=9e61f5fef010b5